<table st-table="versions" st-safe-src="$ctrl.protobufList" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="version" st-sort-default="reverse" translate>PROTOBUF.VERSION</th>
        <th translate>PROTOBUF.DATE</th>
        <th translate>PROTOBUF.STATUS</th>
        <th translate>PROTOBUF.ACTIONS</th>
        <th translate>PROTOBUF.COMMENT</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in versions" ng-class="{info: item.active}">
        <td>{{item.version}}</td>
        <td>{{item.date | date : 'short'}}</td>
        <td ng-if="item.active" translate>GENERAL.ACTIVE</td>
        <td ng-if="!item.active" translate>GENERAL.INACTIVE</td>

        <td>
            <button type="button"
                    class="btn btn-success"
                    ng-disabled="item.active"
                    ng-click="$ctrl.onActivate({version: item.version})" translate>
                PROTOBUF.ACTIVATE
            </button>

            <button type="button"
                    class="btn btn-primary"
                    ng-click="$ctrl.onDownload({version: item.version})" translate>
                GENERAL.DOWNLOAD
            </button>

            <button type="button"
                    class="btn btn-danger"
                    ng-click="$ctrl.onDelete({version: item.version})" translate>
                GENERAL.DELETE
            </button>
        </td>

        <!-- editable comment -->
        <td>
            <a href="#"
               editable-text="item.comment"
               onaftersave="$ctrl.onUpdateComment({version: item.version, comment: $data})">
                {{ item.comment || 'empty' }}
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>
