<div class="row">
    <div class="col-md-5">

        <div class="row">
            <div class="col-md-12" style="margin-top:10px; margin-bottom:10px;">
                <h4 translate>PROTOBUF.FILE_UPLOAD</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <files-upload
                        on-upload="$ctrl.onUpload(data)"
                        format-name="proto"
                        extension=".proto"
                        allow-cancel="false"
                ></files-upload>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h4 translate>PROTOBUF.PROCESSING_LOG</h4>
                    </div>
                    <div class="col-md-9">
                        <div class="btn btn-primary" style="margin-left: 0;" ng-click="$ctrl.clearLogs()" translate>PROTOBUF.CLEAR</div>
                    </div>
                </div>

                <pre style="margin-top: 10px;">{{$ctrl.log}}</pre>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="row" style="margin-top:10px; margin-bottom:10px;">
            <div class="col-md-12">
                <h4 translate>PROTOBUF.UPLOAD_HISTORY</h4>
            </div>
        </div>

        <bitcraft-protobuf-list protobuf-list="$ctrl.versions"
                       on-delete="$ctrl.onDelete(version)"
                       on-download="$ctrl.onDownload(version)"
                       on-activate="$ctrl.onActivate(version)"
                       on-update-comment="$ctrl.updateComment(version, comment)"></bitcraft-protobuf-list>

    </div>
</div>
